.container {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 1.5rem;
  margin: 1.5rem;
}

.section {
  padding: 0.5rem;
  font-size: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  margin: 0.5rem;
  line-height: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.section h3 {
  margin: 1rem;
}

.section p {
  margin-left: 1rem;
}

.section > ul > li {
  list-style-type: none;
  margin-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  padding: 0.25rem;
}
