.header {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 0.25rem;
  height: 2rem;
}

.logo > img {
  height: 2rem;
  border-radius: 5px;
}


.nav-items{
  display: flex;

}

.nav-items li{
  list-style-type: none;
  margin-right: 0.5rem;
}