.header {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  margin: 0.5rem;
  display: none;
}

.logo {
  margin-left: 0.25rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.logo > img {
  height: 2rem;
  border-radius: 5px;
}

.nav-items {
  display: flex;
}

.nav-items li {
  list-style-type: none;
  /* margin-right: 0.5rem; */
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-items li:hover {
  background-color: black;
  color: white;
}

.nav-items li a {
  text-decoration: none;
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: center;
  width: 6rem;
  justify-content: center;
}

.nav-items li a:hover {
  color: white;
}

.nav-cont {
  display: flex;
  height: 100%;
}

.cart-btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  cursor: pointer;
  position: relative;
  --cart-item-count: 0;
}

.cart-btn.cart-btn-items-avl::after {
  /* content: calc("" + var(--cart-item-count)); */
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  display: block;
  position: absolute;
  top: 0.65rem;
  right: 0.65rem;
  border-radius: 50%;
}

.cart-btn:hover {
  background-color: black;
  color: white;
}

.header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
  opacity: 0.9;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .nav-items {
    display: none;
  }
  .menu {
    display: block;
  }

  .isOpen {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 3rem;
    left: 0;
    background-color: white;
  }

  .isOpen li {
    height:3rem;
  }

  .isOpen li a{
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
}
